body {
  color: #F0F1D9;
  background-image: url('old_map.png');
  font-family: "Bubblegum Sans", cursive;
  font-size: 100%;                        /* Reset the default font size to about 16 pixels */
}

#headmast {
  background: #45313A;
  color: #F0F1D9;
  opacity: 0.85;
  border-radius: 4px; /* Slightly curved borders */
  margin: 3em auto; /* Align to the center */
  padding: 0.5em 1.5em;
  width: 60em;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  line-height: 1.15em;
}

h1, a {
  color: #C2BBA8; 
	text-shadow: #252020 3px 3px 3px;
}

dl {
  border-top: solid #FFF 1px;
  float: right;
  margin-top: 3em;
  padding-top: 1em;
  width: 10em;
}

dt {
  clear: left;
  float: left;
  padding-right: 1em;
  text-align: right;
}


.panel, #sidebar {
    border-radius: 4px;
    color: #EFEFEF;
  }

  #main {
    margin: 0 auto;
    overflow: auto;
    width: 63em;
  }

  .panel {
    background: #A7937E;
    color: #45313A;
    opacity: 0.85; 
    float: left;
    margin: 0 5em 1.5em 0;
    padding: 1em;
    width: 37em;
  }

  #sidebar {
    background: #29303D;
    float: right;
    padding: 0.5em;
    width: 18em;
  }

  .panel p, .panel h2, #sidebar p {
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 0.5em;
  }

  .panel h2 {
    border-bottom: solid #DDD 2px;
  }

  /* Sidebar Picture */

  #sidebar #picture {
    overflow: hidden;
    position: relative; /* Explain general relativity */
  }

  #sidebar #picture img {
    border-radius: 4px;
    margin-bottom: 1.5em;
    width: 100%;
  }

  #footer {
    color: #0A7B83;
    margin: auto;
    padding: 1.5em;
    width: 60em;
  }


  img.github-ribbon {

    border: 0;
    left: 0;
    position: fixed; /* Try `position: fixed;` and `position: absolute;` */
    top: 0;

    /*
      Set up the hover effect here.
      The `opacity` property sets the ribbon to 60% transparent,
      and the `transition` property says handle any changes to
      the `opacity` property with a 0.3-second transition.
    */
    opacity: 0.6;
    transition: opacity 0.3s linear;
  }

  img.github-ribbon:hover {
    /*
      When we hover over the ribbon, switch to full opacity.
      This will transition because of the transition property above.
    */
    opacity: 1;
  }